main.main-container {
  position: absolute;
  inset: 0;
  display: grid;
  gap: 2em;
  @media (min-width: 768px) {
    grid-template-columns: auto 3fr;
  }
}

.projects {
  position: relative;
  background-color: var(--color-bg);
  z-index: 10;
  padding: 2rem 0;
}

section#about {
  position: relative;
  margin: 10rem 0;
  max-width: 100vw;
  padding: 1em;
  z-index: 20;

  @media (min-width: 768px) {
    padding: 1em 0;
  }

  p {
    max-width: 66ch;
    margin: 0 0 0.75em 0;
    line-height: 1.5;
  }

  h2 {
    font-family: var(--font-header);
    font-size: 3em;
    line-height: 0.95;
    margin-bottom: 0.5em;
  }
}
