main.main-container {
  position: absolute;
  inset: 0;
  display: grid;
  scroll-behavior: smooth;
  @media (min-width: 720px) {
    grid-template-columns: auto 3fr;
  }
}

.projects {
  position: relative;
  background-color: var(--color-bg);
  z-index: 10;
}
