.root {
  font-family: 'Self Modern Trial', 'BigDailyTrial', sans-serif;
  font-size: max(20px, 2vw);
  font-weight: 400;
  /* font-variation-settings: "wght" 250,"ital" 0,"SRFF" 50; */
  letter-spacing: -0.0125em;
}
