.details-container {
  /* display: flex;
  flex-direction: column; */
  border-top: 0.5px solid var(--color-fg);
  margin-top: 1.5em;

  container-name: details;
  container-type: inline-size;
}

.detail {
  width: 100%;
  display: grid;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em 0;
  border-bottom: 0.5px solid var(--color-fg);
  @container (min-width: 600px) {
    grid-template-columns: 2fr 3fr;
  }
}

.detail-header {
  font-weight: 900;
  font-style: normal;
  /* text-transform: uppercase; */
}

.detail-body {
  font-weight: 400;
  font-style: normal;
}
