.project-container {
  position: relative;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 4em auto 8em auto;
  max-width: 100%;
}

.project-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  bp1 {
    grid-template-columns: 1fr 3fr;
  }
  & p {
    margin-bottom: 0.5em;
  }
}

.title {
  /* text-transform: uppercase; */
  font-size: clamp(1.5em, calc(1.5em + 3vw), 3em);
  text-align: center;
  letter-spacing: -0.05em;
}

.subtitle {
  font-style: italic;
  font-size: clamp(1em, calc(1em + 2vw), 1.5em);
  margin-bottom: 1em;
  text-align: center;
}

.thumb {
  position: relative;
  height: 65vh;
  margin: 0 auto;
  & > * {
    position: relative;
  }
  & img {
    object-fit: contain;
  }

  & .blurhash {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    filter: blur(30px);
  }
}

.tag {
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.05em;
  font-weight: 500;
  padding: 0.25em 0.75em;
  border: 0.5px solid var(--color-fg);
  border-radius: 100em;
  margin-right: 0.25em;
}

.project-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
}
